{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block title %}{% trans "Rentas"%} :: Tecnocasas{% endblock %}
{% block content %}

<h1>{% trans "Ultimas casas de rentas incluidas"%}</h1>
<div style="padding-left: 10px">
{% if rentas %}
    {% for r in rentas %}
        <div class="roundedDiv">
            <img src="{{ r.imagen.url }}" width="400px" height="200px" /><br/>
            <a href="rentas/detalles/{{ r.id }}">{{ r.nombre }}</a> <br/>
            <table border="0" cellpadding="3" cellspacing="0" >
                <tr>
                    <td><img src="{% static "cmghostal/images/habitacion.png" %}" alt="{% trans "Habitaciones" %}" title="{% trans "Cantidad de habitaciones"%}"/></td>
                    <td>{{ r.habitaciones }}</td>
                </tr>
            </table>
            {% trans "Municipio"%}: {{ r.municipio }} <br/>
            {% trans "Provincia"%}: {{ r.municipio.provincia }} <br/>
        </div>
        <br/>
    {% endfor %}
{% endif %}
</div>
{% endblock %}