{% extends "rentas_base.html" %}
{% load i18n %}
{% load rentas_tags %}
{% load static from staticfiles %}
{% block title %}Rentas Camagüey :: Tecnocasas{% endblock %}
{% block script %}
    <script>
        function json_to_select(url, select_selector) {
        /*
         Fill a select input field with data from a getJSON call
         Inspired by: http://stackoverflow.com/questions/1388302/create-option-on-the-fly-with-jquery
        */
            $.getJSON(url, function(data) {
            var opt=$(select_selector);
            var old_val=opt.val();
                opt.html('');
                $.each(data, function () {
                    opt.append($('<option/>').val(this.id).text(this.value));
                });
                opt.val(old_val);
                opt.change();
            })
        }
        $(function(){
         $('#id_provincia').change(function(){
           json_to_select('/rentas/encuentra_municipios/?provincia=' + $(this).val(), '#id_municipio');
         })
        });
		
		function openAccordion(id) {
			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else { 
				x.className = x.className.replace(" w3-show", "");
			}
		}		



    </script>
{% endblock %}
{% block content %}
    {% if fmunicipio %}
        <div class="w3-container w3-green" align="center">
                <h3>Mostrando rentas del municipio {{ fmunicipio.nombre }} en la provincia {{ fmunicipio.provincia.nombre }}</h3>
        </div>
    {% else %}
        <div class="w3-container w3-green" align="center">
                <h3>{% trans "Listado de nuestras rentas" %}</h3>
        </div>
    {% endif %}
    <table  border="0" cellpadding="0" cellspacing="3" width="100%" height="100%" >
                <tr >
                    <td width="400px" align="left" valign="top" bgcolor="#f0ffff" style="border-right: 2px solid #687777">
                        <div align="center">
                            {% if form.errors %}
                                <div class="ui-widget">
                                    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                        <strong>Error:</strong> Por favor corrija lo siguiente</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="forms">
                            <form action="" method="POST">{% csrf_token %}
                                <h2>{% trans "Mostrar las rentas de" %}:</h2>
                                <table width="100%">
                                    {% if form.provincia.errors %}
                                        <tr>
                                            <td colspan="2">
                                              <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                                    {{ form.provincia.errors }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td align="right">{% trans "Provincia" %}</td><td>{{ form.provincia }}</td>
                                    </tr>
                                    {% if form.municipio.errors %}
                                        <tr>
                                            <td colspan="2">
                                              <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                                    {{ form.municipio.errors }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td align="right">{% trans "Municipio" %}</td> <td>{{ form.municipio }}</td>
                                    </tr>
                                    {% if form.fecha_entrada.errors %}
                                        <tr>
                                            <td colspan="2">
                                              <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                                    {{ form.fecha_entrada.errors }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td align="right">{% trans "Fecha de entrada" %}</td><td><input name='fecha_entrada' type="text" id="id_date_entrada"></td>
                                    </tr>
                                    {% if form.fecha_salida.errors %}
                                        <tr>
                                            <td colspan="2">
                                              <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                                    {{ form.fecha_salida.errors }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td align="right">{% trans "Fecha de salida" %}</td><td><input name='fecha_salida' type="text" id="id_date_salida"></td>
                                    </tr>
                                </table>
                                <div align="center"><input type="submit" value={% trans "Enviar" %} /></div>
                            </form>
                            </div>
                            {% if error_fecha %}
                                <div class="ui-widget">
                                    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                        <strong>Error:</strong> {{ error_fecha }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
						<div class="w3-accordion w3-light-green">
							<button onclick="openAccordion('Abrir_rentas')" class="w3-btn-block w3-left-align w3-green">{{ _('Para buscar las rentas') }}</button>
							<div id="Abrir_rentas" class="w3-accordion-content w3-container">
								<p>{% blocktrans %}Para encontrar lo que busca deberá especificar primeramente Provincia y Municipio a donde desea viajar, si especifica la fecha de entrada y salida se le mostrarán los precios de las casas buscadas para esos meses en que desee hospedarse{%  endblocktrans %}</p>
							</div>
						</div>
                        
                    </td>
                    <td valign="top">
                        {% if rentas %}
                                <div align="center">
                                    <div class="pagination">
                                        <span class="step-links">
                                            <table>
                                                <TR>
                                                {% if rentas.has_previous %}
                                                    <td>
                                                    <a href="?page={{ rentas.previous_page_number }}"><img src="{% static "cmghostal/images/izquierda.png" %}"/></a>
                                                    </td>
                                                {% endif %}

                                                <span class="current">
                                                    <td style="font-size: 14px;font-weight: bold;font-family: Tahoma Verdana Arial">
                                                    P&aacute;gina {{ rentas.number }} de {{ rentas.paginator.num_pages }}.
                                                    </td>
                                                </span>

                                                {% if rentas.has_next %}
                                                    <td>
                                                    <a href="?page={{ rentas.next_page_number }}"><img src="{% static "cmghostal/images/derecha.png" %}"/></a>
                                                    </td>
                                                {% endif %}
                                                </TR>
                                            </table>
                                        </span>
                                    </div>
                                </div>
                            <table>
                                <tr>
                                    <td>
                                        {% for r in rentas %}
                                                <div class="w3-panel w3-round-large w3-border w3-border-green">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <img src="{{ r.imagen.url }}" width="400px" height="200px" /><br/>
                                                            </td>
                                                            <td>
                                                                <div class="w3-card-4" >
                                                                    <header class="w3-container w3-light-green">
                                                                        <a href="/rentas/detalles/{{ r.id }}"><h4>{{ r.nombre }}</h4></a>
                                                                    </header>
                                                                    <div class="w3-container" style="width: 100%">
                                                                        <p>{{ r.direccion }}</p>
                                                                        {% trans "Municipio" %}: {{ r.municipio }} <br/>
                                                                        {% trans "Provincia" %}: {{ r.municipio.provincia }} <br/>
                                                                        {% if mes  %}

                                                                            {% for m in r.meses_ta.all %}
                                                                                {% if mes == m.id %}
                                                                                    Precio por habitación: {{ r.precio_ta }}
                                                                                    {% set_temporada as ta %}
                                                                                {% else %}
                                                                                    {% unset_temporada as ta %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            {% if ta == False %}
                                                                                Precio por habitación: {{ r.precio_tb }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <footer class="w3-container w3-light-green">
                                                                        <table border="0" cellpadding="3" cellspacing="0" >
                                                                            <tr>
                                                                                <td><img src="{% static "cmghostal/images/habitacion.png" %} " alt="Habitaciones" title="Cantidad de habitaciones"/></td>
                                                                                <td>{{ r.habitaciones }}</td>
                                                                                {%  if r.servicio.all %}
                                                                                    <td>
                                                                                    {% for s in r.servicio.all %}
                                                                                        <img src="{{ s.imagen.url }}" alt="
                                                                                        {% if LANGUAGE_CODE == "es" %}
                                                                                            {{ s.nombre }}
                                                                                        {% endif %}
                                                                                        {%if LANGUAGE_CODE == "en" %}
                                                                                            {{ s.name}}
                                                                                        {% endif %}
                                                                                        " title="
                                                                                        {% if LANGUAGE_CODE == "es" %}
                                                                                            {{ s.nombre }}
                                                                                        {% endif %}
                                                                                        {%if LANGUAGE_CODE == "en" %}
                                                                                            {{ s.name}}
                                                                                        {% endif %}

                                                                                        "/>&nbsp;
                                                                                    {% endfor %}
                                                                                    </td>
                                                                                {% endif %}

                                                                            </tr>
                                                                        </table>
                                                                    </footer>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>



                                                </div><br/>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                            <div align="center">
                                <div class="pagination">
                                    <span class="step-links">
                                        <table>
                                            <TR>
                                            {% if rentas.has_previous %}
                                                <td>
                                                <a href="?page={{ rentas.previous_page_number }}"><img src="{% static "cmghostal/images/izquierda.png" %}"/></a>
                                                </td>
                                            {% endif %}

                                            <span class="current">
                                                <td style="font-size: 14px;font-weight: bold;font-family: Tahoma Verdana Arial">
                                                P&aacute;gina {{ rentas.number }} de {{ rentas.paginator.num_pages }}.
                                                </td>
                                            </span>

                                            {% if rentas.has_next %}
                                                <td>
                                                <a href="?page={{ rentas.next_page_number }}"><img src="{% static "cmghostal/images/derecha.png" %}"/></a>
                                                </td>
                                            {% endif %}
                                            </TR>
                                        </table>
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div align="center">
                                <h2>Lo sentimos aún no tenemos rentas es este municipio</h2>
                                <img src="{% static "cmghostal/images/no_renta.png" %}"/>
                            </div>
                        {% endif %}
                    </td>
                </tr>
    </table>
    <script>
        $(function() {
            $( "#id_date_entrada" ).datepicker();
            $( "#id_date_salida" ).datepicker();
        });
    </script>
{%  endblock %}